  <label for="username">Your Name</label>
  <input id="username"
         name="user[name]"
         type="text">
  <br>
  <label for="email">Your Email</label>
  <input id="email"
         name="user[email]"
         type="text">
  <br>
  <label for="password">Password</label>
  <input id="password"
         name="user[password]"
         type="password">
  <br>